/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* mine css */
html,body
{
  height: 100%;
}
.rules
{
  height: 75%;
  width: 85%;
  background-color: white;
  position: fixed;
  z-index: 2;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 0px 2px 23px 9px #000000;
}
.text-rules-paragraph
{
  background-color: #49c1b4;
  width: 90%;
  height: 250px;
  border: 1px solid black;
  overflow: auto;
}
.button-close
{
  text-align: center;
  margin: 2.5%;
  background-color:  #49c1b4;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: bold;
  font-size: xx-large;
}
.rules-div1
{
 height: 30%;
  width: 100%;
  background-color: white;
}
.rules-div2
{
  height: 70%;
  width: 100%;
  background-color: #49c1b4;
 border-radius: 54% 46% 100% 0% / 28% 15% 0% 72% ;
  border-top: 1px solid black;
}
.title-rules
{
  text-align: center;
  font-size: x-large;
  margin-top: 5%;
  margin-bottom: 5%;
}
.regole
{
  padding-top: 20%;
  font-size: xx-large;
}
/* form */
.upper-video
{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 1;

}
.wrapper-register-form
{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
label
{
  text-align: left;
  color: gray;
  margin-top: 5%;
  font-size: medium;
}
H3
{
  text-align: left;
  font-size: large;
}
.form-details
{
  margin-bottom: 10%;
  border: none;
  border-bottom: 1px solid lightgray;
  height: 50px;
}
input:focus
{
  border: none;
}
img
{
  width: 150px;
  height: 150px;
}
.button-details
{
  width: 100%;
  border-radius: 30px;
  border: 1px solid black;
  background: rgb(174,0,214);
  background: linear-gradient(90deg, rgba(174,0,214,1) 0%, rgba(195,114,214,1) 48%, rgba(206,157,218,1) 83%);
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form {
  width: 100%;
  height: 100%;
  z-index: 4;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  color: black;
  max-height: fit-content;
  background-color: white;
}
.contact-from
{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}
.text-win
{
  font-size: large;
  margin-top: 10%;
  padding: 5%;
  text-align: center;
}
.prova
{
  width: 100%;
}
.container-form-and-description
{
  position: relative;
  border-radius: 30px;
  display: flex;flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
}
.description-test
{
  padding: 5%;
  font-size: x-large;
  line-height: 32px;
  max-width: 100%;
}
.roulette-container
{
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-height: 40%;

}
/* Aggiungi questa regola CSS al tuo foglio di stile */
.zoom-in-animation {
  animation: zoomIn 1s ease forwards;
  transform-origin: center;
  opacity: 0;
}
@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
#canvas
{
  bottom: 1%;
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}
.spin-img
{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
}
#spin
{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: transparent;
  z-index: 2;
}
iframe
{
  height: 760px;
  width: 100%;
}
.wrapper
{
  width: 100%;
}
.active{
  display: none;
  width: 0;
  height: 0;
}
/* Animazione di slide */
.test-1,.test {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}
/* Aggiungi questa regola CSS al tuo foglio di stile */
.test-1,.test {
  opacity: 0;
  transition: opacity 1s, transform 2s;
}
.slide-left-animation {
  opacity: 1;
  transform: translateX(0);
}
@media screen and (max-width: 1400px)
{

}
@media screen and (max-width: 700px)
{

}